*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: "Raleway", sans-serif;
}


.contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
}



#logo-siman{
    width: 10rem;
    padding-inline-end: 2rem;
}

header{
    padding: 2.5rem;
    background-color: brown;
    color: whitesmoke;
    border: none;
}

button{
    border: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: brown;
    background-color: whitesmoke;
    font: bold;
}
button:hover{
    background-color: white;
    color: brown;
    font-weight: bolder;
}

main{
    padding: 2.5rem;
}

h1{
    padding-bottom: 2rem;
}

h3{
    margin: 2.5rem;
    color: brown;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: brown;
}



ul{
    list-style-type: none;
    margin: 2rem;
    gap: 2rem;
    padding-bottom: 1rem;
}

.contenedor-seccion{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-weight: bold;
}

.redes{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#logo-siman2{
    width: 10rem;
}

.rapidas
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.redes img{
    width: 3rem;

}